<h1>Employee List</h1>
<table class="table">
  <tr>
    <th>ID </th>
    <th>Code</th>
    <th>Name</th>
    <th>Weekly Effort (Total)</th>
    <th>Weekly Effort (Average)</th>
  </tr>
  <tr *ngFor="let item of employees" (click)="onSelect(item)">
    <td>{{item.id}}</td>
    <td>{{item.code}}</td>
    <td>{{item.name}}</td>
    <td>{{item.totalWeelyEffort}}</td>
    <td>{{item.avgWeelyEffort}}</td>
  </tr>
</table>


<!--<table class="table">
  <tr>
    <td>
      <select id="EmpSelector" style="width: 100%;" (change)="selectChange($event)">
        <option *ngFor="let emp of emplist" value="{{emp.id}}">{{emp.name}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <th>Task Name </th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>

  </tr>
  <tr *ngFor="let data of employeetask">
    <td>{{data.id}}</td>
    <td>{{data.sunday}}</td>
    <td>{{data.monday}}</td>
    <td>{{data.tuesday}}</td>
    <td>{{data.wednesday}}</td>
    <td>{{data.thursday}}</td>
    <td>{{data.friday}}</td>
    <td>{{data.saturday}}</td>


  </tr>
  <tr><th>Total</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>

</table>


<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <table>

    <tr>
      <td>Task Name </td>
      <td>
        <select formControlName="TaskId" id="TaskSelector" style="width: 100%;">
          <option *ngFor="let tsk of tasklist" value="{{tsk.id}}">{{tsk.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td><input formControlName="Sunday" /></td>
    </tr>
    <tr>
      <td>Monday</td>
      <td><input formControlName="Monday" /></td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td><input formControlName="Tuesday" /></td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td><input formControlName="Wednesday" /></td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td><input formControlName="Thursday" /></td>
    </tr>
    <tr>
      <td>Friday</td>
      <td><input formControlName="Friday" /></td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td><input formControlName="Saturday" /></td>
    </tr>

    <tr><td><input type="submit" /></td></tr>

  </table>
</form>-->


